.logInButton {
    background-color: #5d46cf;
}

.logInButton:hover {
    background-color: #4c36b5;
}

.navbarItemsHover:hover{
    color: #5d46cf;
}

.hiddenNavbarItems:hover{
    padding-left: 2.5rem;
    color: #fff;
    background-color: #5d46cf;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
} 