@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255; /* Changed from background-start-rgb to background-rgb */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0; /* Changed from background-start-rgb to background-rgb */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)); /* Removed the gradient background */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
